<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
	
       <cosign>
           
        <protected status="on" />
        </cosign>
  
      	
    </system.webServer>
	
	<location path="novars.aspx">
  <system.webServer>
    <cosign>
      <protected status="off" />
    </cosign>
  </system.webServer>
</location>
</configuration>
